* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
}

html {
    min-width: 280px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    text-align: left;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}


/*when hovering an item:*/

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}


/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
    background-color: #d4d4d4 !important;
}

.bd-navbar {
    padding-right: .5rem;
    padding-left: .5rem;
}

.bd-navbar {
    min-height: 4rem;
    background-color: #50ab3d;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.navbar-dark .navbar-brand {
    color: #fff;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 10px;
}

input:focus:not([readonly]) {
    border: 1px solid #6c757d !important;
    box-shadow: 0 0 0 1px #6c757d !important;
}

#img-logo {
    height: 120px;
}

.search-label {
    padding: 40px;
    box-flex: 1;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    margin: auto;
    display: block;
    text-align: center;
    box-shadow: 5px 2px 14px #d8d7d7, -3px 6px 13px #d8d7d7;
    -webkit-box-shadow: 5px 2px 14px #d8d7d7, -3px 6px 13px #d8d7d7;
    border-radius: 20px;
    max-width: 70%;
    margin-top: 30px;
}

#search-btn {
    width: 150px;
}

.right-span {
    color: whitesmoke;
    float: right;
    margin: auto 10px auto auto;
}

.result-view {
    text-decoration: none;
    color: #6c757d;
    text-align: left;
    margin: 0 auto;
}

.result-view:hover {
    color: #6c757d;
    text-decoration: none;
}

.searched-name {
    color: #50ab3d;
}

.checked {
    color: orange;
}

.job-label {
    color: #6c757d;
}

.search-photo {
    box-shadow: 5px 2px 14px #d8d7d7, -3px 6px 13px #d8d7d7;
    -webkit-box-shadow: 5px 2px 14px #d8d7d7, -3px 6px 13px #d8d7d7;
    border-radius: 10px;
    width: 115px;
    height: 150px;
}

header {
    width: 100%;
}

.search-description {
    margin-right: 10px;
}

#location-form {
    left: auto !important;
    right: 0px;
    min-width: 350px !important;
}

#select-country {
    width: 100%;
}

.nav-link {
    color: Orange;
}

.nav-link:hover {
    color: Green;
}

.more-info p {
    margin-bottom: 0;
}

.more-info {
    margin-bottom: 10px;
}

.rating-history h4 {
    display: inline-block;
}

.star-rating-history {
    display: inline-block;
}

.rating-carousel {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
}

.stars {
    cursor: hand;
    display: inline-block;
}

@media screen and (max-width: 1550px) {
    .search-label {
        max-width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .search-label {
        max-width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .search-label {
        width: 100%;
        max-width: 100%;
        border-radius: 0;
        margin-top: 0;
        padding: 30px;
    }
    .mt-3 {
        padding: 0;
        max-width: 100%;
    }
    #img-logo {
        height: 100px;
    }
}

@media screen and (max-width: 767px) {
    .search-label {
        padding: 10px;
    }
    #img-logo {
        height: 80px;
    }
    .right-span {
        float: center;
        margin: 0 auto;
    }
    .search-photo {
        width: 100px;
        height: 130px;
    }
}

@media screen and (max-width: 650px) {
    #location-form {
        position: initial;
        left: auto !important;
        right: 0px;
    }
}

@media screen and (max-width: 430px) {
    #login-form {
        position: initial;
    }
    #location-form {
        position: initial;
        left: auto !important;
        right: 0px;
    }
}

@media screen and (max-width: 410px) {
    #location-form {
        min-width: 250px !important;
        max-width: 100% !important;
    }
}