{% extends 'base.html' %} {% block content %} {% load staticfiles %}

<div class="search-label">
    <img id="img-logo" src="{% static 'img/dOiT_logo.svg' %}" alt="dOiT logo" />

    <p class="lead">Find a nearby someone who can help you with your business.</p>

    <!--Make sure the form has the autocomplete function switched off:-->

    <!-- Search form -->

    <form id="search-form" class="form-group" autocomplete="off" action="">
        <div class="autocomplete active-green-4 mb-4">

            <input class="form-control" id="id-search" type="text" name="my-search" placeholder="Search" aria-label="Search">

        </div>
        <button id="search-btn" class="btn btn-secondary">Search</button>
        <p id="invalidLocation"></p>
        <p id="location"></p>
    </form>

    <div id="result-view" class="container mt-3 result-view">

        <!--
            Here goes search result template
        -->

    </div>

</div>


{% endblock %}