{% extends 'base.html' %} {% block content %} {% load staticfiles %} {% load crispy_forms_tags %} {% load cloudinary %}
<div class="container register">
    <div class="row">

        <div class="col-md-9 register-right">

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Your Profile</h3>
                    <form method="post" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        <div class="row register-form">


                            <div class="col-md-12">
                                <div id="profile-container">
                                    <img class="profile-pic" class="mx-auto d-block img-thumbnail img-fluid rounded-circle" style="height: 230px; width: 180px;" src="{{ user.profile.profile_picture.url }}" onerror="this.src='{% static 'img/default-profile.png' %}';" alt="profile for {{ user.username }}"
                                    />
                                </div>
                                <form>

                                </form>
                                {{ user_form|crispy }} {{ profile_form|crispy }}
                                <input type="submit" class="btnRegister" value="Save" />
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>


<section class="location-info">
    <div id="locationLabel"></div>
    <div id="hidden-country"></div>
    <div id="hidden-area"></div>
    <div id="hidden-city"></div>
    <div id="hidden-lat"></div>
    <div id="hidden-long"></div>
    <div id="hidden-ip"></div>
</section>


{% endblock %}